*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif ;
}

ul{
    list-style: none;
}

.site-header{
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 20px;
    justify-content: center;
}
.site-logo{
    font-family: sans-serif ;
}

.menu-list{
    display: flex;
    gap: 20px;
    align-items: center;

}
.menu-link{
    text-decoration: none;
    color: #C92071;
    font-size: 22px;
    font-weight: bold;
}

#home{
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-title{
    position: absolute;
    padding: 30px;
    background-color: coral;
    color: #fff;
    font-size: 32px;
}

.home bg-image{
    width: 100%;
}
.promotions-title{
    text-align: center;
    margin: 40px 0;
}
.promotions-images{
    display: flex;
    gap: 20px;
    justify-content: center;
}

#promotions .image-item{
    width: 405px;
    height: 251px;
    background-image: url(https://github.com/digitalcollegebr/projeto-digital-store/blob/main/public/collection-1.png?raw=true);
}